/* Regular */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/pattern.svg");
}

hr {
    border: 0;
    height: 1px;
    background-color: #170B0E;
    margin: 2rem 0;
}

h1, p, span {
    font-family: 'Spline Sans Mono', Monaco, Courier, monospace;
}

h1 { 
    font-size: 2rem;
    color: #2E151B;
}

p, span, a {
    color: #170B0E;
}

p .header {
    margin-bottom: 10px;
}


/* IDs */
#content {
    background: #b7566d;
    padding: 40px;
    border-radius: 5px;
    max-width: 520px;
    width: 100%;
}

#content .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

#content .header h1 { 
    line-height: 2rem 
}

#content .header img {
    width: 3.5rem;
}

#content .top p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: .5rem;
}

#content .top a {
    font-weight: bold;
}

#content .body p {
    font-size: .9rem;
    line-height: 1.25rem;
    margin: 1rem 0;
}

.cv-color {
    filter: brightness(0) saturate(100%) invert(2%) sepia(21%) saturate(7135%) hue-rotate(324deg) brightness(98%) contrast(93%);
}

.blinking {
    animation: blink 1.25s ease-in infinite alternate;
}

@keyframes blink {
    from { opacity: 1 }
    to { opacity: 0.3 }
}

/* Mobile */
@media screen and (max-width: 480px) {
    body {
        padding-top: 2rem;
        display: block;
        width: 100vw;
        height: auto;
    }

    #content {
        padding: 6.5rem 1.5rem 1.5rem;
        max-width: calc(100vw - 3rem);
    }

    #content .header {
        flex-direction: column-reverse;
        justify-content: initial;
        align-items: initial;
    }

    #content .header h1 {
        margin-top: 1.5rem;
    }
}