/* VARIABLES */
:root {
    --main-color: #27aae1;
    --secondary-color: #b7566d;
    --text-color: #fffee8;
    --hr-color: #000012;
}


/* GENERAL */
body {
    font-family: 'Spline Sans Mono', Monaco, Courier, monospace;
    background-color: var(--main-color);
    background-image: url('../img/pattern.svg');
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.welcome,
.cv,
.contact {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 40px;
    margin: 10px;
    border-radius: 5px;
    max-width: 750px;
    width: 100%;
    box-shadow: 0px 7px 25px 0px black;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

hr {
    width: 100%;
    margin: 25px 0;
    border: 0;
    border-top: 1px solid var(--hr-color);
}


/* Welcome Section */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    line-height: 1.25;
}

.welcome #body a {
    color: var(--text-color);
}

.welcome p {
    line-height: 1.5;
}

.welcome h1 {
    margin-bottom: 15px;
}


/* CV SECTION */
.cv h2 {
    margin-bottom: 15px;
    text-align: center;
}

.cv h3 {
    display: inline;
    margin-right: 10px;
}

.cv a {
    text-decoration: none;
    color: var(--text-color);
}

.cv .experience h4 {
    margin-top: 1em;
    font-weight: bold;
}

.cv .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv .info-container img {
    margin: 25px 10px 10px 10px;
}

.cv .skills-container,
.cv .experience-container,
.cv .education-container,
.cv .volunteering-container {
    line-height: 1.5;
}

.cv .skills-container .skill,
.cv .experience-container .experience,
.cv .education-container .education,
.cv .volunteering-container .volunteering {
    margin-bottom: 3em;
}

/* Skills */
.cv .skill li,
.cv .experience li,
.cv .education li {
    line-height: 1.5;
}

.cv .skill li:before,
.cv .experience li:before,
.cv .education li:before {
    content: "⁍";
    padding-right: 5px;
}


/* CONTACT SECTION */
.contact h2 {
    margin-bottom: 15px;
    text-align: center;
}

.contact ul {
    margin-top: 1em;
    margin-left: 1em;
    line-height: 1.5;
}

.contact li {
    line-height: 1.5;
}

.contact li:before {
    padding-right: 5px;
}

.contact p {
    line-height: 1.5;
}

.contact a {
    color: var(--text-color);
}