/* Regular */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d1117;
}

hr {
    border: 0;
    height: 1px;
    background-color: #e49a56;
    margin: 2rem 0;
}

h1 { 
    font-size: 2rem 
}

a {
   color: #e49a56; 
}

h1, p, span {
    font-family: 'Spline Sans Mono', Monaco, Courier, monospace;
    color: #fff;
}

.btn {
    border: 2px solid #e49a56;
    border-radius: 10px;
    padding: 15px;
    background: #e49a56;
    color: #222;
    font-weight: bold;
}

.card {
    margin-top: 10px;
    border: 2px solid #e49a56;
    border-radius: 10px;
    padding: 15px;
    background: #e49a56;
    color: #222;
    font-weight: bold;
}

p .header {
    margin-bottom: 10px;
}


/* IDs */
#content {
    max-width: 520px;
    width: 100%;
}

#content .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

#content .header h1 { 
    line-height: 2rem 
}

#content .header img {
    width: 3.5rem;
}

#content .top p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: .5rem;
}

#content .top a {
    font-weight: bold;
}

#content .body p {
    font-size: .9rem;
    line-height: 1.25rem;
    margin: 1rem 0;
}

.cv-color {
    filter: invert(50%) sepia(75%) saturate(1250%) hue-rotate(355deg) brightness(100%) contrast(100%);
}

.blinking {
    animation: blink 1.25s ease-in infinite alternate;
}

@keyframes blink {
    from { opacity: 1 }
    to { opacity: 0.3 }
}

/* Mobile */
@media screen and (max-width: 480px) {
    body {
        padding-top: 2rem;
        display: block;
        width: 100vw;
        height: auto;
    }

    #content {
        padding: 6.5rem 1.5rem 1.5rem;
        max-width: calc(100vw - 3rem);
    }

    #content .header {
        flex-direction: column-reverse;
        justify-content: initial;
        align-items: initial;
    }

    #content .header h1 {
        margin-top: 1.5rem;
    }
}